<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<% @twits.first(5).each do | twit | %>
			<a class="panel-block">
				<%= twit.twit %>
			</a>
		<% end %>
	</nav>
</div>